<!doctype html>
<html class="no-js" lang="es">

<style>
    img.handle {
        cursor: pointer;
        height: 1em;
    }
</style>

<head>
    <meta charset="utf-8">
    <title>Peaks and Valleys</title>
    <meta name="description" content="Foo">
</head>

<body>
    <div id='pav'></div>
    <canvas id="canvas" height="678" width="965"></canvas>
</body>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/sortablejs"></script>
<script>
    function pr(x, event) {
        return new Promise(resolve => x.addEventListener(event, () => resolve(x)));
    }

    function wrapText(context, text, x, y, maxWidth, lineHeight) {
        var words = text.split(' ');
        var line = '';

        for (var n = 0; n < words.length; n++) {
            var testLine = line + words[n] + ' ';
            var metrics = context.measureText(testLine);
            var testWidth = metrics.width;
            if (testWidth > maxWidth && n > 0) {
                context.fillText(line, x, y);
                line = words[n] + ' ';
                y += lineHeight;
            }
            else {
                line = testLine;
            }
        }
        context.fillText(line, x, y);
    }

    const startHeight = 324,
        startTimeline = 52,
        timelineInterval = 90,
        peakDelta = 150;

    async function pintar(info) {
        const ctx = canvas.getContext("2d");

        var background = new Image();
        background.src = "./bg.png";

        await pr(background, 'load');
        ctx.drawImage(background, 0, 0);

        ctx.strokeStyle = 'black';
        ctx.lineWidth = 5;
        ctx.textAlign = "center";

        ctx.beginPath();

        info.forEach(({ mult, año, texto }, i) => {
            var x = startTimeline + i * timelineInterval;

            ctx.lineTo(x, startHeight - (mult / 100) * peakDelta);

            if (año) {
                ctx.font = "bold 12px Arial";
                ctx.fillText(año, x, startHeight + 30);
            }
            if (texto) {
                ctx.font = "12px Arial";
                wrapText(ctx, texto, x, startHeight + 30 + 12, timelineInterval - 5, 12);
            }
        })

        ctx.stroke();
    };

    const store = localStorage.getItem('hitos');
    var hitos;
    try {
        hitos = store ? JSON.parse(store) : [];
    } catch (err) {
        localStorage.removeItem("hitos")
        hitos = [];
    }
    pintar(hitos);


    // Addapted from https://macr.ae/article/vue-sortable
    function sortable(el, binding) {
        const sorting = binding.value;

        Sortable.create(el, {
            onUpdate: (e) => {
                const deleted = sorting.splice(e.oldIndex, 1);
                sorting.splice(e.newIndex, 0, deleted[0]);
            },
            animation: 150,
            easing: "cubic-bezier(1, 0, 0, 1)",
            handle: ".handle",
        });
    };

    // -------- Framework
    const Hito = {
        template: `<span>
            <input type="range" min="-100" max="100" v-model="v.mult" class="slider">

            <input v-model="v.año" placeholder="año">
            <input v-model="v.texto" placeholder="Hito">
            <button @click="$emit('borrar')">🗑️</button>
        </span>`,
        props: {
            v: Object
        }
    };

    const app = Vue.createApp({
        data() {
            return { hitos }
        },
        watch: {
            hitos: {
                handler: function (h) {
                    pintar(h);
                    localStorage.setItem('hitos', JSON.stringify(h));
                },
                deep: true
            }
        },
        components: {
            hito: Hito
        },
        methods: {
            agregar() {
                this.hitos.push({ mult: 0 })
            },
            borrar(indiceHito) {
                this.hitos.splice(indiceHito, 1);
            }
        },
        directives: {
            sortable: {
                updated: sortable,
                mounted: sortable,
            }
        },
        template: `<ol v-sortable="hitos" :title="JSON.stringify(hitos, null, 2)">
            <li v-for="(hito, i) in hitos">
                <img src="drag.png" class="handle" alt="Drag"/><hito :v="hito" @borrar="borrar(i)"></hito>
            </li>
        </pl>
        <button v-if="hitos.length < 10" @click="agregar()">Agregar un hito</button>`
    }).mount('#pav')
</script>

</html>